/*------------------------------------------------------------*/
/*-----------------------Index.html---------------------------*/
/*------------------------------------------------------------*/

#gridIndex{
    background-color: rgba(170, 168, 168, 0.171);

    display: grid;
    grid-template-areas: "header"
                         "nav "
                         "main" 
                         "section"
                         "aside"
                         "footer";

    grid-template-columns: 100%;

    @include tablet{
        grid-template-areas: "header"
                             "nav"
                             "slider"
                             "aside"
                             "section"
                             "footer";
        grid-template-columns: 100%;
        
    }

}


 


/*------------------------------------*/
/*---------Slider y slider Card----------*/
/*------------------------------------*/
.principal{
    grid-area: main;
    @include tablet{
        grid-area: slider !important;
    }
}


.d-block{
    width: 100% !important;
    height: 80vh !important;
    object-position: center center;
    object-fit: cover !important;
    margin-left: auto;
    margin-right: auto;
}

.sliderCard{
    grid-area: aside;

    @include tablet{
        display: none;
    }

    @include movil{
        display: none;
    }
    
    &__carousel-item{
        display: flex !important;
        flex-direction: row  !important;
        justify-content: space-evenly;
        align-items:center !important;
        margin-bottom: 1rem;
        margin-top: 2rem;
        background-color: transparent !important;
    }
}


/*--------------------------------*/
/*--------SECCION PROMOCIONES----*/
.promo{
    grid-area: section;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 1.4rem;
    background-color: rgba(170, 168, 168, 0.171);
    padding-bottom: 1rem;

    @include tablet{    
        grid-template-columns: repeat(2, 1fr); 
             
    }

    @include movil{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        box-shadow: 15px 8px 5px grey;
        transition: all .5s;
        width: 18rem ;
    
        &:hover{
            box-shadow: 5px 3px 5px grey;
            transform: scale(.99, .99);
        }
    
        &__body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &--title{
                width: 100%;
                padding: 0.3rem 1rem !important;
                border-radius: 1rem;
            }

            p{
                font-family: $font-secundary;
            }
        }

        &__btnCompra{
            background-color: $bc-primary;
            border: none;
            color: $c-primary;
            text-align: center;
            &:hover{
                background-color: $bc-secundary;
            }
        }
    
        &__imgSize{
            width: 18rem !important;
            height: 15rem !important;
            object-fit: cover !important;
            padding: 0%;
            margin: 0 !important;
    
            @include movil{
                width: 100% !important;
                height: 15rem !important;
                object-fit: cover !important;
            }
        }
    }

    &__subTitle{
        grid-column-start: 1;
        grid-column-end: 4;
        width: 100%;
        color:$c-primary;
        text-align: center;
        background-color: $bc-primary;
        

        @include tablet{
            grid-column-start: 1;
            grid-column-end: 3;
        }

    }   

}
/*-------------------------------------*/
/*----------Ventana Modal compra-------*/
.buyModal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
    z-index: 99999 !important;
    &__contenido{
    
        background-color:$c-primary;
        border:1px solid black;
        width:50%;
        height: 100vh;
        padding: 10px 20px;
        margin: 1% auto;
        position: relative;
        z-index: 9999 !important;
        @include tablet{
            width: 80vw;
        }
        @include movil{
            width: 90vw;
        }
        
    }

    &--cerrar{
        text-decoration: none;
        color: $c-primary;
        background-color: black; 
        padding: 0 .4rem;
        border: 1px solid black;
        border-radius: 50%;
        &:hover{
            color: black;
            background-color: $c-primary;
        }
    }

    h2{
        margin-top: .3rem;
    }

    &__frmComprar{
        display: flex;
        flex-direction: column;
        @include tablet{
            font-size: 1.2rem;
        }
        @include movil{
            font-size: 0.8rem;
        }
    }

    &__frmCard{
        display: flex;
        flex-direction: column;
    }

    &__price{
        display: flex;
        flex-direction: column;
        place-items: center;
        width: 100%;
        span{
            font-family: $font-primary;
            font-size: 2rem;
            font-weight: 700;
        }
        &--btnModal{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
  
}

#buyModal:target{
    opacity:1;
    pointer-events:auto;
}



/*--------------------------------------*/
/*--------------page-404--------------------*/
/*--------------------------------------*/

.error{
    background-color: $bc-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    width: 100vw;
    height: 100vh;
}